.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.completed {
  text-decoration: line-through;
  color:grey;
}

.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav{
  padding: 10px;
  text-decoration: none;
  color:orange;
  font-size:16px;
}

.nav:hover{
  color: pink;
}

.home-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  color: pink;
}

.login {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orange;
  font-size: 18px;
}

form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  padding: 10px;
  margin: 10px;
}

.list{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  color: orange;
}

button {
  margin: 10px;
}
